html,
body,
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.alojamiento {
    width: 200px;
    padding: 5px;
    position: relative;
}

.alojamiento h1 {
    text-transform: capitalize;
    color:
}

.alojamiento img {
    width: 100%;
}

.alojamiento .precio {}
